html{
  height:    100%;
}
body {
  background: black;
}


main {
  min-height: calc(100vh - 78px - 56px);
}

a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}
a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}

.dark-mode-nav{
  background: rgb(27, 27, 27);
  color: whitesmoke;
  box-shadow: 2px 0px 6px whitesmoke;
  font-size: 18px;
}

.dark-mode{
  background: black;
  color: whitesmoke;
  font-size: 18px;
}

.image-container{
  contain: content;
}

.line {
  background: whitesmoke;
  height: 2px;
}

.text-vertical-center {
  padding-top: 18%;
}

.modern-sapien-btn {
  background: blueviolet;
  border: black;
  color: cornsilk;
  font-weight: bold;
  box-shadow: 2px 2px 5px -px whitesmoke;
}

.footer {
margin-top: auto;
width: 100%;
}