html,body {
  height: 100vh;
  margin: 0;
}

a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}
a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}

.dark-mode{
  background: black;
  color: whitesmoke;
  font-size: 18px;
}

.nav-item{
  border-left: 2px solid whitesmoke;
  margin-right: 10px;
  font-weight: bold;
}

.image-container{
  contain: content;
}

.line {
  background: whitesmoke;
  height: 2px;
}

.text-vertical-center {
  padding-top: 18%;
}

.modern-sapien-btn {
  background: rgb(84, 0, 163);
  border: black;
  color: cornsilk;
  font-weight: bold;
  box-shadow: 2px 2px 5px -px whitesmoke;
}

.footer {
  background: black;
  border-top: 1px solid #ffffff;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  min-width: 100%;
}

.wrapper{
min-height: calc( 100vh - 50px);
}

.dark-mode-nav{
  background: rgb(0, 0, 0);
  color: whitesmoke;
  box-shadow: 2px 0.5px whitesmoke;
  font-size: 18px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  z-index: 10
}

.background{
  z-index: -100;
  max-height: 100%
}

#info {
	position: absolute;
	text-align: left;
  display:block;
  background: whitesmoke;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-container{
  max-width: 80%;
  height: auto;
}

.content{
  margin-top: 20vh !important;
}

.project-image-container{
  min-width: 80%;
  max-width: 100%;
  height: auto;
}

.small-font{
  font-size: 12px
}

.fixed-image{
  max-width: 25px;
  margin-top: 0px
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.pushdown{
  margin-bottom: 1000px;
}